In [200]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium.webdriver.common.keys import Keys

driver = webdriver.Chrome()
driver.get('https://www.naukri.com/')

job_keyword = 'Data Analyst'

driver.find_element_by_xpath('//*[@id="qsb-keyword-sugg"]').send_keys(job_keyword)
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button').click()

driver.implicitly_wait(30)

In [207]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [227]:
job_cards = soup.find_all('article', class_ = 'jobTuple bgWhite br4 mb-8')
print(len(job_cards))
jobs = []

21

In [228]:
from selenium.webdriver.chrome.options import Options

for job in job_cards:
    
    skills_list = []
    
    for skill in job.find('ul',class_ = 'tags has-description').find_all('li'):
        skills_list.append(skill.text)
    
    skills = str(', '.join(skills_list))
        
    url = job.find('a', class_ = 'title fw500 ellipsis')['href']
    options = Options()
    options.headless = True
    url_driver = webdriver.Chrome(options=options)
    url_driver.get(url)
    s = BeautifulSoup(url_driver.page_source, 'lxml')
    url_driver.close() 
    
    points = []  
    try:
        description_string = s.find('div', class_ = 'dang-inner-html').text
    except:
        description_string = 'No description available'
    
    info = {'position' : job.find('a', class_ = 'title fw500 ellipsis').text,
            'company' : job.find('a', class_ = 'subTitle ellipsis fleft').text,
           'Experience' : job.find('li', class_ = 'fleft grey-text br2 placeHolderLi experience').find('span').text,
           'salary' : job.find('li', class_ = 'fleft grey-text br2 placeHolderLi salary').find('span').text,
           'Location' : job.find('li', class_ = 'fleft grey-text br2 placeHolderLi location').find('span').text,
           'Skills' : skills,
           'Description' : description_string}
    jobs.append(info)

In [229]:
job_list = pd.DataFrame(jobs)
job_list.drop_duplicates(inplace=True)
job_list

,position,company,Experience,salary,Location,Skills,Description
0,Data Analyst,Paarichem Resources Llp,1-2 Yrs,Not disclosed,"Thane, Navi Mumbai, Mumbai (All Areas)(Vidya V...","Data Management, Data Analysis, Statistical Mo...","Interpreting data, analysing results using sta..."
1,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,0-2 Yrs,Not disclosed,Bangalore/Bengaluru,"Condition, Product Development, R, Data Qualit...",No description available
2,Hiring Candidates For Data Analyst For an MNC(...,RANDSTAD INDIA PVT LTD,0-2 Yrs,"50,000 - 3,00,000 PA.",Navi Mumbai,"Excel, VLOOKUP, Data Analysis, Data Analytics","Greeting From Randstad,Hiring Candidates For D..."
3,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Not disclosed,Bangalore/Bengaluru,"Hive, Excel, Data Analysis, Data Modeling, Dat...",TEKsystems is a part of Allegis Services Group...
4,Assistant Manager II - Data Analyst,Flipkart Internet Private Limited,4-8 Yrs,Not disclosed,Bangalore/Bengaluru,"R, Power BI, Accounting, Artificial Intelligen...",Job Description:About the teamGroup Internal A...
5,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Not disclosed,Bangalore/Bengaluru,"Data Validation, Azure Data Lake Store, Azure...",The Role*Job DescriptionIT Services and Operat...
6,Data Analyst,Applied Materials,7-10 Yrs,Not disclosed,Bangalore/Bengaluru,"Real Time Analysis, Data Management, Data Anal...",No description available
7,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Banking, Data Collection, Data Quality, Loan O...",Functional Data Analyst 4-10 Years Minimum...
8,Senior Marketing Data Analyst,Tide Software,0-4 Yrs,Not disclosed,Gurgaon/Gurugram,"Health insurance, PPC, Automation, Data Analys...",This role will suit an individual who has a ...
9,Data Analyst Role - Iim/iit/bits/fms,The Hiring Story,0-2 Yrs,Not disclosed,Mumbai,"Data Management, Data Visualization, Data Anal...",- An analyst should be capable of working in...
10,Data Analyst,Shell India Markets Private Limited,5-8 Yrs,Not disclosed,Bangalore/Bengaluru,"Data Validation, Excel, Data Management, Condi...",The RoleIT Services and Operations (ITSO) prov...
11,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,Not disclosed,"Mumbai, Bangalore/Bengaluru","Data Engineering, SQL Server, Data Visualizati...",Business Title/Designation - Assistant Vice Pr...
12,Business Data Analyst,United Phosphorus Limited,5-8 Yrs,Not disclosed,Mumbai,"Excel, Accounting, Data Extraction, Data Visua...",Position Summary:The primary role is to identi...
13,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Not disclosed,Bangalore/Bengaluru,"R, Excel, Data Analysis, Tableau, Data Analyti...",About the CE Team: The Customer Experience tea...
14,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Not disclosed,Bangalore/Bengaluru,"R, Excel, Data Analysis, Business Insights, Ta...",About the CE Team: The Customer Experience tea...
15,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Not disclosed,Bangalore/Bengaluru,"Excel, Data Engineering, Data Analysis, Busine...","Data Analyst in WFM & Analytics @ Myntra, Bang..."
16,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Not disclosed,Bangalore/Bengaluru,"R, Excel, Data Analysis, Business Insights, Ta...",About the CE Team: The Customer Experience tea...
17,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Not disclosed,Bangalore/Bengaluru,"R, Excel, Data visualization, Data Analysis, B...",About the CE Team: The Customer Experience tea...
18,Data Analyst,Xylem Resource Management Pvt. Ltd.,0-5 Yrs,Not disclosed,New Delhi,"Channel Partners, Product Sales, Data Analysis...",Roles and Responsibilities PC Services Data An...
19,Business Analyst - Data Analyst – General Ledg...,RUBOID TECHNOVISION PRIVATE LIMITED,4-9 Yrs,Not disclosed,"Pune, Mumbai (All Areas)","Retail, Corporate banking, data analytics, Bus...",Roles and Responsibilities Greetings from Rubo...
20,Data Analyst - Work from Home,POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs,"2,50,000 - 3,75,000 PA.","Pune, Bangalore/Bengaluru, Mumbai (All Areas)","Data Analysis, Collection Management, Excel, P...",POSITION FUNCTION:Data analyst responsibilitie...

In [2]:
url = 'https://www.naukri.com/' + '-'.join('data analyst'.split(' ')) + '-jobs-' + str(3)
print(url)

https://www.naukri.com/data-analyst-jobs-3